<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="15 seconds" debug="false">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%boldMagenta(%d{dd-MM-yyyy HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %cyan(%logger{30})
                - %msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <!--<logger level="INFO" additivity="true" name="org.apache"/>
    <logger level="INFO" additivity="true" name="org.springframework"/>
    <logger level="TRACE" additivity="true" name="org.springframework.web.reactive"/>
    <logger level="TRACE" additivity="true" name="org.springframework.http"/>
    <logger level="TRACE" additivity="true" name="reactor"/>-->

    <logger level="TRACE" additivity="true" name="*"/>


    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>