body {
    /*background-image: url("../images/bg.jpg");*/
}

.form-control {
    padding: 5px 0;
    border: none;
}

.input-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
}

.btn:focus {
    box-shadow: none;
}

.title {
    margin-top: 10px;
    text-align: center;
}

#submit-btn {
    display: flex;
    justify-content: flex-end;
}

#addDayChange {
    margin-bottom: 15px;
    width: 30%;
}

#day-container {
    display: flex;
}

#upload-info {
    max-height: 200px;
    overflow-y: scroll;
}

#upload-info .info {
    margin-bottom: 0;
    font-size: 0.95rem;
}

#download {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (prefers-reduced-motion: no-preference) {

}