<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" th:href="@{./css/datepicker/datepicker.css}" type="text/css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2 class="title">Помощник расчета квитанций</h2>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="input-container">
                        <input type="file" class="form-control" placeholder="Выберите файл" name="fileToUpload"
                               id="fileToUpload">
                    </div>

                    <div class="input-container">
                        <label for="dateToCalc">Выберите месяц</label>
                        <input id="dateToCalc" type='text' class='datepicker-here'
                               name="dateToCalc" autocomplete="off">
                    </div>
                    <div id="day-container">
                        <div class="input-container">
                            <label for="daysOffHidden">Выходные и праздничные дни</label>
                            <div class="datepicker-here" id="daysOff"></div>
                            <input type="hidden" name="daysOff" id="daysOffHidden">
                        </div>

                        <div class="input-container" style="flex-grow: 1">
                            <label for="addDayChange">Перенос дней</label>
                            <a class="btn btn-outline-info" id="addDayChange" href="#" role="button">Добавить</a>
                            <input type="hidden" name="daysFrom" id="daysFromHidden">
                            <input type="hidden" name="daysTo" id="daysToHidden">
                            <div id="daysChangeContainer"></div>
                        </div>
                    </div>
                </div>
                <div id="submit-btn">
                    <button type="submit" class="btn btn-primary">Начать обработку</button>
                </div>

            </form>
        </div>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script th:src="@{./js/datepicker/datepicker.js}" type="text/javascript"></script>

<script>
    $("#dateToCalc").datepicker({
        autoClose: true,
        dateFormat: "yyyy-mm-dd",
        view: "months",
        minView: "months"
    });

    $("#daysOff").datepicker({
        dateFormat: "yyyy-mm-dd",
        multipleDates: true,
        onSelect: function (formattedDate, date, inst) {
            $("#daysOffHidden").attr('value', formattedDate);
        }
    });

    var daysFromArray = new Array();
    var daysToArray = new Array();

    $("#addDayChange").on("click", function (event) {
        event.preventDefault();

        $("#daysChangeContainer").append(
            "        <div class=\"form-group\">\n" +
            "                <input type='text' class='datepicker-here dateFrom'\n" +
            "            name=\"dateFrom\" autocomplete=\"off\">\n" +
            "\n" +
            "                <input type='text' class='datepicker-here dateTo'\n" +
            "            name=\"dateTo\" autocomplete=\"off\">\n" +
            "                </div>");


        $(".dateFrom").datepicker({
            dateFormat: "yyyy-mm-dd",
            onSelect: function (formattedDate, date, inst) {
                daysFromArray.push(formattedDate);
                console.log(daysFromArray);
                $("#daysFromHidden").attr('value', daysFromArray);
            }
        });

        $(".dateTo").datepicker({
            dateFormat: "yyyy-mm-dd",
            onSelect: function (formattedDate, date, inst) {
                daysToArray.push(formattedDate);
                console.log(daysToArray);
                $("#daysToHidden").attr('value', daysToArray);
            }
        });
    });
</script>

</body>
</html>